.product-card-container{
    width: 350px;
    height: fit-content;
    padding-bottom: 15px;
    font-family: "Poppins", serif;   
    border-radius: 20px;
    box-shadow: 0px 0px 6px #9c9c9c8c;
    margin: 20px;
    background-color: white;


}  
.product-top-section{
    background-color: #fce5ed;

}

.product-insale{
    background-color: red;
    color: white;
    width: 50px;
    border-radius: 20px;
    text-align: center;
    top:10px;
    left: 10px;
}

.product-insale{
    position: relative;
}


.product-bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
}

.product-catagory-display{
    background-color: lightpink;
    color: darkmagenta;
    width: fit-content;
    border-radius: 20px;
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;

}

.product-name-display{
    font-size: larger;
    font-weight: 500;
    margin-top: 5px;

}

.product-description-display{
    font-size: large;
    font-weight: 400;
    margin-top: 5px;

} 

.product-price-display{
    font-size: large;
    font-weight: bolder;
    margin-top: 5px;

}
.details-display{
    margin-left: 15px;
}

.add-to-cart-btn{
    background:linear-gradient(to right ,#ea5196,#e5477d,#f63f61 ) ;
    text-align: center;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;

}

.add-to-cart-btn:hover{
    cursor: pointer;
    color: white;
}