.product-card-container{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    font-family: "Poppins", serif;   
    
}  

.product-image{
    width: 320px;
    height:320px;    
}

.product-details{
    font-weight: bolder;
    margin-bottom: 15px;
   
}

.product-pricing-details{
    margin-right:100px ;
}
.product-price{
    font-weight: bolder;
    padding-right: 20px;
}
.product-discount{
    font-weight: 500;
    color:rgb(245, 170, 30);
    text-decoration: line-through;
}

.add-cart-btn{
    margin-left: 10px;
}