.admin-page-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;

}
.home-page-btn{
    position: fixed;
    top:15px;
    right: 20px;
    background-color: blue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    border-radius: 10px;


}
.home-page-btn:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 5px 2px grey;


}


.admin-buttons{
    display: flex;

}

.admn-btns{
    border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:black;
    font-weight: bold;
    width: 400px;
    height: 300px;
    background: linear-gradient(to right , rgb(170, 56, 236) ,rgb(175, 7, 167) ,rgb(173, 2, 122)) ;
}

.admn-btns:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 10px 5px grey;

}