.explore-container{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.search-bar{
    padding: 10px;
    width: 25em;
    margin-right: 10px;
    border-radius: 10px;
    border: solid 1px black;
 

}

.search-bar:focus{
    outline: none;
}

.products-display{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}