.home-container {
  display: flex;
  flex-direction: column;
}
.hero {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-top-image-container {
  display: flex;
  gap: 30px;
}
.img2  {
  width: 540px;
}


.info-text {
  padding-top: 30px;
  font-size: 50px;
  font-weight: bolder;
}

.home-product-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  gap: 50px;
}


.top-image{
  border-radius: 25px;
  animation: 20s ease-in-out;
}

.top-image:hover{
  transform: scale(1.1)
}

