.home-container{
    
    display: flex;
    flex-direction: column;
       
}

.hero{
    display: flex;
    flex-direction: column;
    margin:50px;
}
.yml-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.trending-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}


.yml-product-list{
    display: flex;
    gap:40px;
    padding-top:30px;
}

.trending-product-list{
    display: flex;
    flex-wrap: wrap;
    
    padding-top:30px;
    gap:40px;
    
}


.yml-text{
    font-size: xx-large;
}

.trending-text{
    font-size: xx-large;
}