.nav-container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    font-family: "Poppins", serif;    
    align-items: center;
    background-color: #f3bce1ea;
    box-shadow: 5px 0px 5px rgba(204, 203, 203, 0.918);
    position: sticky;
    top:0;
}
 
.logo{
    font-size: large;    
} 

.route-btn-container{
    display: flex;
    gap:35px;
    font-size: large;
}

.home-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.explore-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.explore-eye{
    position: relative;
    top:-2.5px;
}



.extras-container{
    display: flex;
    gap:15px;
    padding-right: 30px;
    font-size: x-large;
}


.favourite-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.cart-btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}




