.favourite-card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.favourite-title {
  margin: 20px;
  font-weight: bold;
}

.favourite-product-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favourite-product-image {
  width: 200px;
  height: 200px;
}

.favourite-product-texts {
  display: flex;
  flex-direction: column;
}
.favourites-card-upper-bar {
  border-top: 1px solid #000000;
  width: 100%;
  margin-top: 10px;
}
.favourite-product-price {
  padding-right: 13.5%;
}
.favourite-product-actions {
  padding-right: 14%;
  
}

.action-btn{
  background-color: lightgreen;
  margin:10px;
  padding: 20px;
  border-radius: 10px;
}
.action-btn:hover{
  cursor: pointer;
}